/****************************Login style**************************************/
/**boody*/
.body-login{
    height: 80vh;
    background-image: url(./assets/students/signup.png);
}
.bodoni{
    font-family: 'Bodoni Moda', serif;
}
.body-login form{
   position: relative;
   margin: auto;
   margin-top: 6em;
   width: 30%;
   height: 50vh;
  
   padding: 2em;
   padding-top: 4em;
   background-color: white;
   border-radius: 2px;
   
}

.body-login form input{
    width: 90%;
    height: 3em;
    padding: 1em;
    margin-bottom: 1em;

}
.button-login{
    background-color: #000000;
    color: white;
    width: 30%;
    height: 12%;
}
.button-login a{
    color: white;
}
.container{
   
   display: flex;
}
/***************Side Menu********************/
.logo{

    margin: 3em;
    margin-left: 2em;
   
    
}
.sidemenu{
    width: 20%;
    margin-top: 3rem;
    position: fixed;
    filter:  drop-shadow(16px 16px 10px rgba(204, 204, 204, 0.253));

}

.profile-name{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4em;
}
.dp{
    height: 4em;
    width: 4em;

    background-color: #733FF5;
    background-position: center;
    background-size: cover;
    background-image: url(./assets/students/signup.png);
    border-radius: 50%;

}
.icon{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f541;
    align-items: center;
    width: 40%;
    margin-bottom:1.5em;
    padding: .1em;
    border-radius: 2px;
}
.icon img{
    width: 2em;
    margin-bottom: 0.5em;
}
.sidemenu a {
    color: #000000;
    font-weight: 600;
    font-size: 0.7rem;
    cursor: pointer;
}

/*************************PROFILE STYLES****************************************/
.main-about {
    position: relative;
    width: 85%;
}
main h3{
    font-family: var(--Tropikal);
    font-weight: 800;
    font-size: 32px;
    padding-bottom: 1em;
}
.contain{
   
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
}
hr{
    margin-top: 4em;
    margin-bottom: 4em;
}
.about-info h4{
    font-size: 24px;
}
.about-info p{
    font-size: 13px;
    font-weight: 100;
}

.about-text{
    width: 70%;
}
.contain input{
    display: flex;
    margin-bottom: 1em;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

width: 500px;
height: 45px;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.name{
    width: 200px;
}
textarea{
    width: 500px;
}
.about button{
    position: relative;
    padding: 20px 31px;
    color: white;
    margin-top: 4em;
    margin-bottom: 20%;
    left: 77%;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-bottom: 2em;
    width: 15%;
    height: 10%;
}
.url-icon{
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    margin-top: 2em;
}
.url-icon p{
    margin-left: 0.5em;
}
.about-pic{
    display: flex;
    justify-content: space-between;
}

/*******************HOME*********************************************/
/***utilities***/
.welcome-profile{
    display: inline-flex;
    align-items: center;
}

.welcome-info{
    margin-left: 2em;
    font-size: small;
}
.role{
    margin-top: .2em;
    font-weight: 200;
    font-size: .9rem;
}
.location{
    font-weight: 100;
    font-size: .8rem;
}
.internship{
    margin-top: 2em;
    margin-left: 2em;
}

.recommend{
margin-top: 2em;
}
.recommend-info{
    display: flex;
flex-direction: column;
align-items: center;
padding: 39.0469px 185.473px;
gap: 19.52px;

width: 779.44px;
height: 423.96px;

background: #FFFFFF;
border: 0.750903px solid #000000;
box-shadow: 2.25271px 2.25271px 16.5199px -0.750903px rgba(0, 0, 0, 0.25);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.recommend-info a {
    display: flex;
flex-direction: row;
padding: 16.5199px;
gap: 7.51px;
color: #FFFFFF;


background: #000000;
border: 0.750903px solid #000000;
box-shadow: 2.25271px 2.25271px 16.5199px -0.750903px rgba(0, 0, 0, 0.25);
border-radius: 3.75451px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.recommend p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18.0217px;
line-height: 22px;
/* identical to box height */


color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

main{
    margin-left: 20%;
}
/********************JOB STYLES****************************************/
.job-main{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    
    
}

.filters{
    display: flex;
    margin-top: 3em;
    justify-content: center;
}
.filter{
    margin-right: 2em;
    background: #D8D8D8;
border-radius: 2px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1em 1em;
gap: 14.3px;
color: #733FF5;
}
.jobs{
    margin-top: 2em;
    padding: 1em;
    width: 90%;
    height: 60vh;
    background: rgba(243, 255, 246, 0.17);
   overflow-y: scroll;
}
.job{
    width: 90%;
    margin-top: 1em;
   margin-left: 2em;
    padding: 1em;
    border: 2px solid rgba(182, 182, 182, 0.527);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px 10px -0.750903px rgba(153, 153, 153, 0.25);
}
.job-profile{
    display: flex;
}
.job-profile img{
    width: 70px;
height: 57px;
filter: drop-shadow(0px 3.20881px 3.20881px rgba(0, 0, 0, 0.25));
border-radius: 4.04747px;
object-position: center;
object-fit: cover;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.job-profile-info{
    margin-top: 1em;
    margin-left: 1em;
   text-align: left;
}
.job-profile-info p{
    font-weight: lighter;
    font-size: 0.7rem;
}
.job-status{
    display: inline-flex;
    margin-top: 1em;
    padding: .25em;
    border: 1px solid ;
    border-radius: 5px;
    
}
.job-status img{
    margin-right: .5em;
}
.job-status p{
    font-size: .8em;
}
.job-description{
    border: 1px solid ;
    display: flex;
    justify-content: space-between;

padding: 1.5em;

margin-top: 1em;
/* Inside auto layout */
width: 100%;
flex: none;
order: 2;
flex-grow: 0;
}
.new{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 130%;
   text-align: center;
}
.job-title{
    font-weight: bold;

}
.job-location{
    font-weight: lighter;
    font-size: .8em;
   
}
.job-salary{
    font-weight: bold;
  
}
.job-date{
    font-size: .8em;
}
.description-a{
    border: 1px solid black;
    padding: 0.5em .9em;
    margin-left: 1em;

}
.search{
    position: relative;
    width: 40%;
    text-align: center;
    margin-left: 20em;
}
.search input{
    padding: .6em;
    width: 90%;
}
.search img{
    margin-top: .6em;
}
.black {
    background-color: #000000;
    color: white;
}

/*********************JOB DESCRIPTION MODULE********/
.job-desc{
    background: #e9e9e93f;
}
.desc{
    margin: 10em auto;
    width: 60%;
    display: flex;
}
aside{
    background: #D9D9D9;
    padding: 2em;
}
aside .job-profile{
margin-bottom: 1em;
}
aside h5{
    margin-top: 1em;
}
aside p, li{
    font-size: .8em;
    margin-left: 2px;
    margin-top: 2px;
}
.desc main{
    background-color: #FFFFFF;
    width: 90%;
    margin-left: 0%;
    padding: 2em;
}
.hr { 
    margin-top: -1.5em;
}
.app-profile {
    margin-bottom: 1em;
}

.hire p{
    font-size: .6em;
    margin-bottom: 5em;
}
.hire-buttons{
    margin-left: 70%;
    margin-top: 2em;
    
}
.hire-button{
    margin-left: 1em;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  color: #FFFFFF;
  background-color: #000000;
}
.hire-contact{
    display: flex;
    justify-content: space-between;
}
.hire-contact img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -3px 0px -3px  0px 10px 1px ;
}
.hire textarea{
    width: 100%;
    margin-top: 1em;
}
.app{
    display: flex;
    justify-content: space-between;
}

/********comunity*****************************************************/
.post{
    border: 1px solid;
    width: 60%;
    border-radius: .5em;
    padding: 2em;
    margin-bottom: 3em;

}
.post-profile{
    display: flex;
    width: 40%;
    margin-bottom: 2em;
}
.post-profile img{
height: 50px;
width: 50px;
object-fit: cover;
object-position: center;
border-radius: 50%;
margin-right: 1em;
}
.head-post{
    font-size: 2.5em;
   text-transform: uppercase;
   font-weight: bolder;
}
.paragraph{
    margin-top: 2em;
}

/*************************Messages**************************************************/
.messages{
    margin-top: 1em;
    
    background-image: url(./assets/students/message-background.png);
    background-repeat: no-repeat;
    background-position: center;
    
    height: 80vh;
    width: 50%;
    padding: 1em;
}
.message{
    display: flex;
   padding: 1em;
   margin-bottom: 1em;
   border-radius: 6px;
   background-color: #f9f6ff ; 
     box-shadow: 30x 4px 4px  12px black;
   width: 80%;
}
.message-body{
    margin-left: 1em;
}
.message-body .student-name{
    font-weight: bolder;
}


/***************CHAT STYLES**********************************/
.contain-chat{
    margin:2em auto;
   height: 90vh;
   width: 30%;
}
.chat-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    gap: 70px;
    box-shadow:(00px 100px 100px 100px rgba(0, 0, 0, 1));
    margin-bottom: 1em;
}
.chat-body{
    height: 80%;
    padding: 1em;
    background: rgba(229, 229, 230, 0.49);
border: 0.387975px solid #E9E9E9;
box-shadow: 0px 4.92584px 7px 27px rgba(255, 255, 255, 0.38);
border-radius: 6.29187px;
overflow-y: scroll;
scroll-behavior: smooth;
margin-bottom: .5em;
}
.sent-message{
    position: relative;
    right: -50%;
    padding: .5em;
    background: #733FF5;
    color: #ffffffd2;
    margin: 1em 0em;
box-shadow: 0px 1.5519px 1.5519px rgba(0, 0, 0, 0.25);
border-radius: 11.6392px 11.6392px 0px 11.6392px;
width: 50%;
}
.recieved-message{
    border: 0.691471px solid #000000;
filter: drop-shadow(0px 1.5519px 1.5519px rgba(0, 0, 0, 0.25));
border-radius: 11.6392px 11.6392px 11.6392px 0px;
width: 50%;
padding: .5em;
margin: 1em 0em;
}
.input form{
   
    display: flex;
    justify-content: space-between;
    padding: .2em;
    width: 100%;
    background-color: #733FF5;
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);

   

}
.input input{
  padding: 1em;
  width: 70%;
  border: none;
  background-color: #f1f1f1;

}
.input-icons{
    margin-top: .5em;
    width: 25%;
    padding: .1em;
    display: flex;
    justify-content: space-between;
}
.input-icons img, button{

    width: 30px;
    height: 30px;
    text-align: center;
}
.input-icons button{
    border: none;
    background-color: white;
}

/***********************POSTIND***************************/
.posting{
    width: 50%;
}
.posting h4{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bolder;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 10%;
}
.posting input{
    width: 79%;
    padding: 1em;
}
.postings {
    width: 20%;
   height: 50px;
    margin-bottom: 1em;
    margin-left: 75%;
    border: none;
    background-color: #000000;
     color: #FFFFFF;


}